<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
        <img src="assets/j-logo.png" alt="Brand Logo" class="me-1" style="width: 30px;"/>
		<h1 class="title">
			Jobber
		</h1>
		<div class="toggle" (click)="handleSidebarToggle()" (keydown)="handleSidebarToggle()" tabindex="0">
			<span class="chevron"></span>
		</div>
    </div>
    <div class="content">
		<div class="link">
			<div class="content" [routerLink]="['/homepage']" [routerLinkActive]="['active']">
				<div class="icon">
                    <i class="bi bi-house"></i>
				</div>
				<div class="title">Home</div>
			</div>
      	</div>
		<div class="link">
			<div class="content">
				<div class="icon">
                    <i class="bi bi-file-earmark-person"></i>
				</div>
				<div class="title">Resume Parser</div>
			</div>
		</div>
		<div class="link">
			<div class="content" [routerLink]="['/job-tracker']" [routerLinkActive]="['active']">
				<div class="icon">
                    <i class="bi bi-suitcase-lg"></i>
				</div>
				<div class="title">Job Tracker</div>
			</div>
		</div>
        <div class="link">
			<div class="content">
				<div class="icon">
                    <i class="bi bi-buildings"></i>
				</div>
				<div class="title">Companies</div>
			</div>
		</div>
        <div class="link">
			<div class="content">
				<div class="icon">
                    <i class="bi bi-person-lines-fill"></i>
				</div>
				<div class="title">Contacts</div>
			</div>
		</div>
	</div>
    <div class="link">
        <div class="content">
            <div class="footer">
                <!-- <img src="assets/j-logo.png" alt="Brand Logo" class="me-1" style="width: 30px;"/> -->
                <div class="avatar">{{ (username.split(' ')[0][0] + username.split(' ')[1][0]).toUpperCase() }}</div>
                <h1 class="title">
                    {{ username }}
                </h1>
            </div>
        </div>
    </div>
  </div>