<!-- List of other properties can be found here -->
<!-- [pagination]="true" -->
<div class="filter-section">
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'All Jobs'}" (click)="setJobFilter('All Jobs')" >All Jobs</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Applying'}" (click)="setJobFilter('Applying')">Applying</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Applied'}" (click)="setJobFilter('Applied')">Applied</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Interviewing'}" (click)="setJobFilter('Interviewing')">Interviewing</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Negotiating'}" (click)="setJobFilter('Negotiating')">Negotiating</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Accepted'}" (click)="setJobFilter('Accepted')">Accepted</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Declined'}" (click)="setJobFilter('Declined')">Declined</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Rejected'}" (click)="setJobFilter('Rejected')">Rejected</button>
    <button class="btn btn-outline-dark" [ngClass]="{'active': selectedStatus === 'Archived'}" (click)="setJobFilter('Archived')">Archived</button>
</div>
<div class="grid-section">
    <div class="selection-delete-bar">
        <div class="selection-bar">
            <input type="checkbox" class="form-check-input" id="selectAllCheckbox" (change)="selectAll($event)">
            <label class="form-check-label" for="selectAllCheckbox">
              <span class="selected-count" style="margin-right: 5px;">{{ selectedRowCount }} Selected</span>
            </label>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm" style="margin-left: 10px">
            <i class="bi bi-pencil-square"></i>
            <span style="margin-left: 5px;">Status</span>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" [hidden]="!checkIfSelected()" (click)="onDeletedRecord(confirmDeleteModal)">
            <i class="bi bi-trash"></i>
            <span style="margin-left: 5px;">Delete</span>
        </button>
    </div>
    <div class="add-and-filter-bar">
        <div class="filter-wrapper">
            <input
                type="text"
                class="form-control form-control-sm filter-input"
                placeholder="Filter Jobs"
            />
            <i class="bi bi-search ms-2"></i>
        </div>
        <button class="btn btn-dark" style="margin-left: 10px;" (click)="open(applicationsForm)">Add a New Job</button>
    </div>
</div>
<div class="applications-entry">
    <ng-template #applicationsForm let-modal>
        <form class="application-entry-form">
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Job Title</label>
                    <input id="inputName" [formControl]="jobTitleControl" type="text" class="form-control" placeholder="Job Title">
                </span>
            </div>
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Job URL</label>
                    <input id="inputName" [formControl]="jobURLControl" type="text" class="form-control" placeholder="URL Link of the Job Posting">
                </span>
            </div>
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Application Status</label>
                    <select id="inputName" [formControl]="jobURLControl" type="text" class="form-control" placeholder="Applying">
                        <option>Applying</option>
                        <option>Applied</option>
                        <option>Interviewing</option>
                        <option>Negotiating</option>
                        <option>Accepted</option>
                        <option>Declined</option>
                        <option>Rejected</option>
                        <option>Archived</option>
                    </select>
                </span>
            </div>
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Company Name</label>
                    <input id="inputName" [formControl]="companyControl" type="text" class="form-control" placeholder="Company Full Name">
                </span>
            </div>
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Location</label>
                    <input id="inputName" [formControl]="locationControl" type="text" class="form-control" placeholder="State, Country">
                </span>
            </div>
            <div class="application-entry-form__form-row--input-section">
                <span class="form-group">
                    <label for="inputName">Job Description</label>
                    <textarea id="inputName" [formControl]="jobDescriptionControl" type="text" class="form-control" placeholder="Copy Paste the entire Job Description"></textarea>
                </span>
            </div>
            <div class="application-entry-form__form-row--input-buttons">
                <button type="submit" class="btn btn-dark" (click)="modal.close()" [disabled]="jobDetailsForm.status === 'INVALID'">Submit</button>
                <button type="submit" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
            </div>
        </form>
    </ng-template>

    <ag-grid-angular
        style = "width: 100%; height: 570px;"
        class = "ag-theme-alpine records-grid"
        (gridReady) = "onGrindReady($event)"
        [rowData] = "rowData$ | async"
        [rowSelection]="'multiple'"
        [autoSizeStrategy]="autoSizeStrategy"
        [columnDefs]="colDefs"
        [columnTypes]="columnTypes"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [dataTypeDefinitions]="dataTypeDefinitions"
        [rowGroupPanelShow]="'always'"
        [sideBar]="true"
        [statusBar]="statusBar"
        [rowDragManaged]="true"
        (selectionChanged)="onSelectionChanged($event)"
    >
    </ag-grid-angular>
    <ng-template #confirmDeleteModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Profile Deletion</h4>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>
                <strong>Are you sure you want to delete <span class="text-rpimary">{{ jobTitlesString }}</span> applications?</strong>
            </p>
            <p>
                All the information about this used will be deleted from the application
                <span class="text-dager">This operation can not be undone.</span>
            </p>
            <div class="modal-footer">
                <button class="btn-outliner-secondary btn" (click)="modal.dismiss('Close button clicked')">Cancel</button>
                <button class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
            </div>
        </div>
    </ng-template>
</div>