.chevron::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: "";
    display: inline-block;
    height: 0.5em;
    left: 0.5em;
    position: relative;
    top: 0.2em;
    vertical-align: top;
    width: 0.5em;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
  
    height: 100vh;
    transition: 0.3s;
  
    width: 60px;
    &.expanded {
		width: 250px;
	
		.header {
			h1 {
			margin-left: 0px;
			}
			.chevron {
				margin-left: 0px;
				&::before {
					transform: rotate(-135deg);
				}
			}
		}
		.content {
			.link {
				.content {
				.title {
					max-width: 200px;
				}
				.icon {
					margin-right: 3px;
				}
				}
				.children {
				.content {
					padding-left: 30px;
				}
				}
			}
		}
        .footer {
			h1 {
			margin-left: 0px;
			}
		}
	}
  
	background: #211c19;
	color: #ffffff;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        background: #211c19;

        h1 {
            font-size: 20px;
            color: #ffffff;
            margin: 0;
            flex: 1;
            transition: 0.3s;
            margin-left: -120px;
        }
    
        .chevron {
            color: #c2b4b4;
            cursor: pointer;
            transition: 0.3s;
            margin-left: -25px;
            min-width: 20px;
            height: 12px;
            padding-left: 12px;
            display: block;
            text-align: center;
    
            &::before {
                transition: 0.3s;
                transform: rotate(45deg);
            }
    
            &:hover {
                color: white;
            }
        }
    }
    .content {
      	.link {
			.children {
				.content {
					background: #ffffff;
					padding-left: 10px;
		
					&.active {
						background: #ffffff;
					}
				}
			}
			.content {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 12px;
				cursor: pointer;
				transition: 0.3s;
				flex-direction: row;
				
				&:hover {
					background: #424141;
					.title {
						color: #ffffff
					}
					svg {
						fill: #ffffff;
					}
                    .icon {
                        color: #ffffff; // Match the icon color with the hover color
                    }
				}
		
				&.active {
					background: #7e7a7a;
					.title {
					color: #ffffff;
					}
				}
		
				.icon {
					flex: 0 0 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 0px;
				}
				.title {
					flex: 1;
					// display: none;
					color: #9b9595;
					transition: 0.3s;
					max-width: 0px;
					overflow: hidden;
				}
			}
		}
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #211c19;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        padding: 5px;


        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ffffff; // Change this to the desired border color
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin-left: 5px;
            margin-bottom: 10px;

        }
    }
}